# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database

# My postgres is set to port 5433 but normally 5432 is the default. If the below doesn't work, 
# try using port 5433 to run the code.

#engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")
engine = create_engine("postgresql://postgres:postgres@localhost:5433/fraud_detection")

query = """
SELECT t.card, c.id_card_holder, t.amount, t.date
FROM
transaction AS t 
INNER JOIN credit_card AS c ON t.card= c.card
"""

card_holders = pd.read_sql(query, engine)
card_holders

                     card  id_card_holder  amount                date
0        3561954487988605              13    6.22 2018-01-01 21:35:10
1        5135837688671496              13    3.83 2018-01-01 21:43:12
2         213193946980303              10    9.61 2018-01-01 22:41:21
3        4263694062533017               4   19.03 2018-01-01 23:13:30
4           4498002758300              18    2.95 2018-01-01 23:15:10
...                   ...             ...     ...                 ...
3495  4723783028106084756              15    4.84 2018-12-31 01:24:15
3496  4165305432349489280              10    3.26 2018-12-31 03:33:28
3497     5361779664174555              19   10.73 2018-12-31 05:53:58
3498     4188164051171486              23   11.87 2018-12-31 08:22:17
3499  4723783028106084756              15   19.75 2018-12-31 09:50:25

[3500 rows x 4 columns]

In [ ]:
# Write function that locates outliers using standard deviation

In [ ]:
# Find anomalous transactions for 3 random card holders

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders